# FILES
**/**/.pyc
.DS_Store
.env
*.db

# DIRECTORIES
**/**/__pycache__
.vscode/
.pytest_cache
.github
.git*
.gcloudignore
sme_financing.egg-info

cloudbuild.yaml
README.md
*.pyc
*.pyo
*.pyd
__pycache__