[flake8]
per-file-ignores = manage.py: F401
max-line-length = 88

exclude =
  .pytest_cache
  .DS_Store
  __pycache__
  **/**/__pycache__
  *.pyc
  .git
  config.py
  setup.py
  build
  dist
  releases
  .venv
  .tox
  .vscode
  .github
  tests/
  migrations

max-complexity = 10
